<!-- shared foot -->
<footer class="footer">
    <section class="py-5 bg-voilet text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4><b>Quick Links</b></h4>
                <ul class="list-unstyled mt-3">
                    <div class="mb-2"></div>
                    <li><a href="/general/terms" class="text-white">Terms & Conditions</a></li>
                    <div class="mb-2"></div>
                    <li><a href="/general/help" class="text-white">Help</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4><b>Support</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="/general/about" class="text-white">About Us</a></li>
                    <div class="mb-2"></div>
                    <li><a href="/general/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    </section>
</footer>

<!-- bootstrap -->

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
