<!-- shared foot -->

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;" id="footer">
	<div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="/general/about">About </a></div>
          <div class="col"><a class="social-inner" href="/general/terms"> Terms </a></div>
          <div class="col"><a class="social-inner" href="/general/help"> Help </a></div>
          <div class="col"><a class="social-inner" href="/general/contact"> Contact </a></div>
  </div>
</footer>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>

