  <!-- shared nav -->
    <!-- shared nav -->
  <nav class="mb-4 navbar navbar-expand-lg navbar-dark red darken-2">
    <a class="navbar-brand font-bold" href="/">Pylos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/rules">Rules <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
  

