<body id="jeu2">
	<div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="projet2.html" role="tab" aria-controls="nav-home" aria-selected="true"> Pylos </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="regles.html" role="tab" aria-controls="nav-profile" aria-selected="false"> Regle de jeu </a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Spectateurs </a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Mes amis</a>
		
				<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="profile.html" role="tab" aria-controls="nav-about" aria-selected="false"> Profile </a>

                    </div>
                  </nav>
                                
                </div>
            </div>
    </div>