<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head') -%>
  <link rel="stylesheet" href="/css/index-index.css">
  </head>
<body id="jeu2">
    <%- include('partials/nav') -%>

	<div class="container">
		<br> 
		<div class="row">
			<article class="card">
			<div class="card-body p-5 text-danger" id="text_photo">
				<p> <img src="./img/Pylos3.png">
					You are registered now ! Clic the button play in the navbar.
				</p>
			</div>
			</article> 
		</div>
	</div>
    
    <br><br>



    <%- include('partials/footer') -%>
<script>

</script>

</body>
</html>

