<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" />
	<title> Forget Password </title>
	<link rel="stylesheet" href="../css/projet.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">

</head>

<body>
<div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="projet2.html" role="tab" aria-controls="nav-home" aria-selected="true"> Pylos </a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="regles.html" role="tab" aria-controls="nav-profile" aria-selected="false"> Regle de jeu </a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Spectateurs </a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Mes amis</a>
		
				<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"> Jouer </a>

                    </div>
                  </nav>     
                </div>
              </div>
        </div>
      </div>
</div>

<div class="container">
	<div class="row">
        <div class="col-md-6 col-md-offset-3">
  <h4 style="border-bottom: 1px solid #c5c5c5;">
    <i class="glyphicon glyphicon-user">
    </i>
    Account Access
  </h4>
  <div style="padding: 20px;" id="form-olvidado">
<form action:"/api/v1/forgot-password" method="post">
      <fieldset>
        <span class="help-block">
          Email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          <input class="form-control" placeholder="Email" name="email_id" id="email_id" type="email" required="">
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
          Continue
        </button>
       </fieldset>
    </form>
</div>
</div>
</div>
</div>


</body>
</html>

