<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/pageprincipale.css">
	<%- include('partials/head') -%>
  </head>
<body id="jeu2">
    <%- include('partials/nav') -%>

<div class="container">
    <br> 
    <div class="row">
        <article class="card">
        <div class="card-body p-5 text-danger" id="text_photo">
            <p> <img src="../public/img/Pylos3.png">
                Bonjour ! Appuyez sur le bouton du bas pour vous connectez.
            </p>
            <div class="text-center mt-4">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal"> GO !</button>
            </div>
        </div>
        </article> 
    </div>
</div>
    
    <br><br>



    <%- include('partials/footer') -%>


</body>
</html>
