<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head') -%>
  <link rel="stylesheet" href="./css/pageprincipale.css">
  <style>  
    body { 
        margin: 0; 
        padding: 0; 
        background: black; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
    } 
  
    .geeks { 
        width: 20px; 
        height: 20px; 
        background: green; 
        border-radius: 50%; 
        box-shadow: 0 0 20px rgb(127, 153, 127),  
                    0 0 40px rgb(127, 153, 127),  
                    0 0 60px rgb(127, 153, 127),  
                    0 0 80px rgb(127, 153, 127), 
                    0 0 120px rgb(127, 153, 127),  
                    0 0 220px rgb(127, 153, 127), 
                    0 0 320px rgb(127, 153, 127); 
        transition: 2s; 
    } 
  
    .geeks:hover { 
        box-shadow: 0 0 0 30px rgb(83, 224, 83),  
                    0 0 0 60px rgb(83, 224, 83), 
                    0 0 0 100px rgb(83, 224, 83), 
                    0 0 0 120px rgb(82, 226, 82),  
                    0 0 0 200px rgb(37, 214, 37),  
                    0 0 0 400px rgb(27, 165, 27),  
                    0 0 0 450px rgb(63, 235, 63); 
    } 
</style> 
  </head>
<body id="jeu2">
    <%- include('partials/nav') -%>

<div class="container">
    <br> 
    <div class="row">
        <article class="card">
        <div class="card-body p-5 text-danger" id="text_photo">
            <p> <img src="./img/Pylos3.png">
                Hey ! Try to press that button to let us impress you ;)
            </p>
              <div class="text-center mt-4">
                <a href="/login" class="btn btn-primary" type="button"> GO !</a>
              </div>
        </div>
        </article> 
    </div>
</div>
    
    <br><br>



    <%- include('partials/footer') -%>
<script>

</script>

</body>
</html>
