<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head') -%>
  <link rel="stylesheet" href="/css/index-index.css">
  </head>
<body id="jeu2">
    <%- include('partials/nav') -%>

<div class="container">
    <br> 
    <div class="row">
        <article class="card">
        <div class="card-body p-5 text-danger" id="text_photo">
            <p> <img src="./img/Pylos3.png">
                Hey ! Try to press that button to let us impress you ;)
            </p>
              <div class="text-center mt-4">
                <a href="/login" class="btn btn-primary" type="button"> GO !</a>
              </div>
        </div>
        </article> 
    </div>
</div>
    
    <br><br>



    <%- include('partials/footer') -%>
<script>

</script>

</body>
</html>
