<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head') -%>
  <link rel="stylesheet" href="/css/index-index.css">
  </head>
<body id="jeu2">
    <%- include('partials/nav') -%>

    <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="my-heading">WELCOME TO PY<span class="bg-main">LOS</span></h3>
                    <p class="myp-slider text-center">Where players fight and become better together</p>
                    <p class="myp text-center">PLAY PYLOS   |   CONNECT WITH OTHERS   |   TRY TO WIN EVERY GAMES</p>
                    <a class="btn btn-primary btn-join" href="/login">CONNECT TO COMMUNITY</a>

                </div>
                <div class="col-md-12 text-center mt-5">
                    <div class="scroll-down">
                        <a class="btn btn-default btn-scroll floating-arrow" href="/login" id="bottom"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <%- include('partials/footer') -%>
<script>

</script>

</body>
</html>
