<article class="index">
  <a href="/playVsIA"><h1><i class="fas fa-chevron-circle-right"></i> Play Vs the AI </h1></a>
  <a href="/play"><h1><i class="fas fa-chevron-circle-right"></i> Play locally with a friend </h1></a>
  <a href="/customPart"><h1><i class="fas fa-chevron-circle-right"></i> Play online </h1></a>
  <a href="/scenario"><h1><i class="fas fa-chevron-circle-right"></i> Take a rest ? </h1></a>

  {{# if user}}
    <a href="/save"><h1><i class="fas fa-chevron-circle-right"></i> Load a savegame </h1></a>
  {{/if}}
</article>
