
<body>
  <div id="newpart">
    <p>New game ?</p>
    <div style="display:flex;">
      <p id="ok" onclick="newpart()">OK</p>
      <p  id="ok"><a href="/index">Home</a></p>
    </div>
  </div>
<article id="">
	<p> game... </p>
	<!-- game here -->
</article>
</body>
