<body>
  <!-- for new game -->
  <div id="newpart">
    <p>New game ?</p>
    <div style="display:flex;">
      <p id="ok" onclick="newpart()">OK</p>
      <p  id="ok"><a href="/index">Home</a></p>
    </div>
  </div>
  <article id="">
	<!-- game here -->
  </article>
  
  {{# if user}}
      <p id='save' class="validate">Save your game</p>
  {{/if}}
</article>
<script src="/js/save.js"></script>
</body>
