<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/play.css">
	<%- include('../partials/head') -%>
  </head>
<body id="jeu2">
    <%- include('../partials/nav') -%>

    <nav class="nav nav-pills nav-fill" id="navbar_game">
        <a class="nav-link text-danger" href="/game">Jouer</a>
        <a class="nav-link"  href="/game">Jouer contre un ami</a>
        <a class="nav-link" href="/game">Jouer contre l'ordinateur</a>
    </nav>



    <%- include('../partials/footer') -%>


</body>
</html>
