<!-- TODO : do this page -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/play.css">
	<%- include('../partials/head') -%>
  </head>
<body id="jeu2">
    <%- include('../partials/nav') -%>

    <p>THIS IS THE GAME</p>


    <%- include('../partials/footer') -%>


</body>
</html>
