<!-- TODO : do this page -->

<!DOCTYPE html>
<html>
  <head>
	<%- include('../partials/head') -%>
  <script defer src="http://localhost:3200/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
  <script type="text/javascript" src="js/play/Cell.js"></script>
  <script defer type="text/javascript" src="js/play/draw.js"></script>
  <script defer src="js/play/client.js"></script>
  <link rel="stylesheet" href="css/pylos.css">
</head>
<body>
    <%- include('../partials/nav') -%>
        <div id="info-panel">
                <div class="ball-info left turn makeItNotMyTurn">
                    <div class="note" id="mePlayer"></div>
                </div>
                <div id="balls" >
                     <div class="ball-number left turn">
                        <div class="note">Red</div>
                        <div class="ball"></div>
                        <div class="number" id="number1">15</div>
                    </div>
                    <div class='divider'></div>
                    <div class="ball-number right">
                        <div class="note">Grey</div>
                        <div class="ball"></div>
                        <div class="number" id="number2">15</div>
                    </div>
                </div>
        </div>    
        <div id="info-panel2">
                <div class="ball-info left turn makeItNotMyTurn">
                    <div class="note" id="turn"></div>
                </div>
        </div>    

            <div class="msg-container">
                    Enter the x : 
                    <input id="x" type="text"><br>
                    Enter the y :
                    <input id="y" type="text"><br>
                    Enter the Layer number :
                    <input id="z" type="text"><br>
                    <div class="hidden moveBall  btn-success" id="moveBall">
                        <label>Is move ball</label>
                        <input type="checkbox" id="isMoveBall">
                    </div>
                    <div class="hidden checkYesPopBall" id="popBall">
                        <label>Do you want to pop ball ?</label>
                        <input type="checkbox" id="popBallBoolean"></div>
                    </div>
                    <button id="send-button">Send</button>
                    <button id="emit-search">Emit search</button>        
            </div>
            
            <div id="notification">
                <pre id="notif"></pre>
            </div>
            
            <div id="logWindow" style = "width: 300px; height: 400px; line-height: 3em; overflow:scroll; border: thin #000 solid; padding: 5px;">
                <pre id="logger"></pre>
            </div>  
    
            <%- include('../partials/footer') -%>
    </body>
    </html>

