body {
background-image: url("boite.jpg");
background-attachment: fixed; /* Le fond restera fixe */
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    border-radius: 10px;
    margin-left: 0%;
    margin-right: 80%;
}

#notification{
	border : 10px solid black;
	border-radius: 10px;
	position: absolute;
	width: 20%;
    height:	30%;
    left: 30%;
    top: 10%;
}

canvas{
    border : 10px solid black;
    border-style: outset;
    border-radius: 10px;
    padding: 0;
    margin: auto;
    display: flex;
    position: absolute;
}

#logWindow {
    overflow: auto;
/*    position: absolute;*/
    width: 500;
    height: 500;
    top: 50%;
    left: 30%;
    right: 5%;
    bottom: 5%;
    background-color: grey;
    z-index: 20;

  }

/*pre{
	animation: slidein 3s 1;
}*/

@keyframes slidein {

  from {

    margin-left: 0%;
    width: 50%;
    
  }

  to {

    margin-left: 0%;
    width: 50%;
    
  }

}