body {
  background-image: url("boite.jpg");
  background-attachment: fixed; /* Le fond restera fixe */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    border-radius: 10px;
    margin-left: 0%;
    margin-right: 80%;
}

#notification{
	border : 10px solid black;
	border-radius: 10px;
  position: relative;
  background-color: whitesmoke;
	width: 60%;
  height:	80%;
  left: 0%;
  right: 0%;
  top: 105%;
}

canvas{
    border : 10px solid black;
    border-style: outset;
    border-radius: 10px;
    padding: 0;
    margin: auto;
}

#logWindow {
    overflow: auto;
    position: relative;
    width: 800;
    height: 800;
    top: 50%;
    left: 30%;
    right: 200%;
    bottom: 5%;
    background-color: whitesmoke;
    z-index: 20;

  }

/*pre{
	animation: slidein 3s 1;
}*/

@keyframes slidein {

  from {

    margin-left: 0%;
    width: 50%;
    
  }

  to {

    margin-left: 0%;
    width: 50%;
    
  }

}

#notif {
  color: red;
}

.hidden{
  display: none;
}

.shown{
  display: flex;
}