body{
	background-image: url("boite.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
}

canvas{
    border : 10px solid black;
    border-style: outset;
    border-radius: 10px;
    padding: 0;
}

#info-panel {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
}

#info-panel .ball-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.5s ease;
}

#info-panel .ball-info .ball {
  border-radius: 50%;
  border: 1px solid black;
  margin: 8px 0;
}

#info-panel .ball-info .number, #info-panel .ball-info .note {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

#info-panel .divider {
  width: 30%;
}