<!DOCTYPE html>
<html>
    <head>
      
      <%- include('../partials/head') -%>
	<link rel="stylesheet" href="../css/projet.css">

</head>

<body>
  <%- include('../partials/nav') -%>
<div class="container">

	<div class="row">
        <div class="col-md-6 col-md-offset-3">
  <h4 style="border-bottom: 1px solid #c5c5c5;">
    <i class="glyphicon glyphicon-user">
    </i>
    Account Access
  </h4>
  <div style="padding: 20px;" id="form-olvidado">
<form action:"/forgot-password" method="POST">
      <fieldset>
        <span class="help-block">
          Email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          <input class="form-control" placeholder="Email" name="email_id" id="email_id" type="email" required="">
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
          Continue
        </button>
       </fieldset>
    </form>
</div>
</div>
</div>
</div>

<%- include('../partials/footer') -%>
</body>
</html>

