<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/login2.css">
	<%- include('../partials/head') -%>
  </head>

  <%- include('../partials/nav') -%>

<body id="jeu2">
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="connexion">
                <div class="d-flex justify-content-center">
                <h1> Connexion </h1>
                </div> 
            <div class="d-flex justify-content-center form_container">

                <form action="/login" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i>@</i></span>
                        </div>
                        <input type="text" name="username" class="form-control input_user" id="username" placeholder="username" required autofocus>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i>&#128274</i></span>
                        </div>
                        <input type="password" name="password" class="form-control input_pass" id="password" placeholder="password" required>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <input type="submit" class="btn btn-success login_btn" value="login" required>
               </div>
                </form>

            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="/signup" class="ml-2"> Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="/forgot-password">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>

</body>
</html>
