<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/createaccount.css">
  </head>

  <body id="jeu2">
  <%- include('../partials/nav') -%>

        <div class="mask d-flex justify-content-center align-items-center">
          <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4 text-primary text-center text-md-left">
                <h1 class="display-4 font-weight-bold">Sign UP</h1>
                <hr class="hr-light">
                <p>
                  <strong>Pylos Sign up</strong>
                </p>
                <p class="mb-4 d-none d-md-block">
                  <strong> Hey ! Welcome to Pylos Game. Sign up for free and get the best of the best of the game. </strong>
                </p>
              </div>
              <div class="col-md-6 col-xl-5 mb-4 text-white">
                <div class="card"></div>
                  <div class="card-body">
                    
                    <!-- form -->
                    <form action="/signup" method="POST" >
                      <p class="h4 text-center mb-4">Sign up</p>
                      
                         <i class="fa fa-user prefix grey-text"></i>
				    <label for="materialFormRegisterNameEx">username</label>
                         <input type="text" id="username" name="username" placeholder="username" class="form-control" required>
                      
                      
                         <i class="fa fa-envelope prefix grey-text"></i>
			         <label for="materialFormRegisterEmailEx">Email</label>
                         <input type="email" id="email_id" name="email_id" placeholder="Email" class="form-control" required>
                       

                      
                        <i class="fa fa-lock prefix grey-text"></i>
				  <label for="materialFormRegisterPasswordEx">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                      

  

                      <div class="form-check">
              
                            <label for="defaultCheck12" class="grey-text">When you register, you accept the
                                <a href="/signup/terms" class="blue-text"> Terms and Conditions</a>
                            </label>
                        </div>

                      <div class="text-center mt-4">
                        <input type="submit" class="btn btn-success login_btn" value="signup" required>
 
                   </form> 
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>	

       <%- include('../partials/footer') -%>
</body>
</html>

