<body>
  <article class="logIn">
    <div class="connect">
      <h1>Connexion</h1>
      <form class="LoginForm" >
        <label for="mail">Your email : </label><input name="mail" id="mail">
        <label for="password1">Your password : </label><input type="password" name="password" id="password">
        <br>
        <div class="center">
          <input type="submit" value="Envoyer" >
          <input type="reset" value="Annuler" >
        </div>
      </form>
      <p>Don't you have an account ? What are you waiting, just sigin in <a href='/signIn'> HERE </a></p>
    </div>
  </article>
  <script src="js/logIn.js"></script>
</body>
