<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head') -%>
	<link rel="stylesheet" href="/css/terms.css">
</head>

<body id="jeu2">
	<%- include('../partials/nav') -%>
	<div id="img">
		<div class="noir">
			<br>
			<h1> About us and about the projet </h1>
			Hi you ! This site was designed by our group consisting of: Rizwan Salime, Radja Layaida, Sami Elatri and Paulius Mickunas. <br>
            This site was made for the purpose of our 3rd year of Computer Science Degree in Tutored Project. The goal of this project was to make the Pylos game that you will be able to play thanks to our website. <br>
            To play you will need to register: <a href="../users/signup.ejs" class="ml-2"> Sign Up</a><br>
            If you already have an account: <a href="../users/signin.ejs" class="ml-2"> Login</a><br>
            For any help, do not hesitate to contact us: <a href="../users/contact.ejs" class="ml-2"> Contact</a><br>

			 <br> <br>

			<div class="exit_wrap">
				<label class="exit" for="retourdecond"><a href="/">Okey Thanks</a></label>
			</div>
			<br><br><br><br>
		</div>
	</div>
	<%- include('../partials/footer') -%>
</body>
</html>
