<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head') -%>
	<link rel="stylesheet" href="/css/terms.css">
</head>

<body id="jeu2">
	<%- include('../partials/nav') -%>
	<div id="img">
		<div class="noir">
			<br>
			<h1> Help </h1>
            Hi you ! If you are on this tab it means that you really need help! <br> 
            If you don't know how to play the Pylos game, take a look at the game rules very well explained by our developers: <a href="/rules" class="ml-2"> Rules</a><br>
            To play the Pylos game, you will need to create a free account on: <a href="/signup" class="ml-2"> Sign Up</a><br>
            If you have any problem do not hesitate to send a message to our developers: <a href="/general/contact" class="ml-2"> Contact</a><br>

			 <br> <br>

			<div class="exit_wrap">
				<label class="exit" for="retourdecond"><a href="/">Okey Thanks</a></label>
			</div>
			<br><br><br><br>
		</div>
	</div>
	<%- include('../partials/footer') -%>
</body>
</html>
