<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head') -%>
	<link rel="stylesheet" href="./css/conditions.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body id="jeu2">
	<%- include('../partials/nav') -%>
	<div id="img">
		<div class="noir">
			<br>
			<h1> Coditions d'utilisation </h1>
			<h2> 1- Inscription et comptes </h2>

			1.1 Sous réserve de votre accord et du respect continu de ces Conditions d'utilisation et de toutes autres
			politique et conditions générales applicables, Pylos vous accorde une licence limitée,
			non-exclusive, non-transférable, non-cessible, révocable, et sujette aux restrictions ci-dessous, vous
			permettant d'accéder et d'utiliser le Service pour vos propres fins de divertissement non-commercial. Vous
			acceptez de ne pas utiliser le Service à d'autres fins.
			Pylos propose une grande variété de jeux sur ses portails et sur d'autres plateformes telles que les
			boutiques d'applications. Ces jeux sont gratuits, sauf indication contraire. Cependant, vous êtes le seul
			responsable des coûts que vous pourriez encourir en utilisant le Service par le biais du Wifi, ou de tout
			autre service de communication. Dans certains jeux, vous pouvez acheter des articles virtuels (comme un
			élément de jeu virtuel ou des pièces virtuelles), ou un abonnement pour télécharger un jeu. Pour le
			traitement de tout paiement sur les Sites SPIL ou sur toute autre plate-forme, Pylos peut utiliser
			des fournisseurs de paiement tiers comme indiqué dans la Section 6. <br> <br>
			1.2. En créant un compte, vous confirmez être âgé de 10 ans ou plus.<br> <br>
			1.3. Un nom d'utilisateur est un identifiant unique choisi par vos soins ou bien fourni par les nôtres, et
			qui est utilisé pour vous identifier sur le Service. Vous ne pouvez avoir qu'un seul compte sur les sites
			Pylos et un compte par jeu. Pylos se réserve le droit de supprimer l'un de vos comptes, dans
			le cas où vous avez plusieurs comptes. Vous ne pouvez pas vendre, louer ou donner votre compte, créer un
			compte en utilisant une fausse identité ou de fausses informations, ou bien créer un compte au nom de
			quelqu'un d'autre que vous-même. Veuillez nous contacter immédiatement si quelqu'un a accédé à votre compte
			sans votre autorisation, et modifiez vos informations de connexion immédiatement. Vous êtes seul responsable
			du maintien de la confidentialité de vos informations de connexion et de tout achat effectué via votre
			compte, que vous l'ayez autorisé ou non. Si vous nous avez fourni vos coordonnées, vous devez les maintenir
			exactes et à jour. Vous ne devez utiliser votre compte qu'à des fins non commerciales. <br> <br>
			1.4. Pylos se réserve le droit de résilier et de désactiver définitivement votre compte s'il est
			resté inactif pendant 180 jours. En cas de désactivation, nous n'avons aucune obligation de conserver ou de
			fournir les données ou le contenu associés à votre (ancien) compte, ou de rembourser les paiements effectués
			via votre (ancien) compte, et nous pouvons autoriser un autre utilisateur à s'inscrire et à utiliser votre
			ancien nom d'utilisateur. Nous n'avons également aucune obligation de supprimer des données publiques, du
			contenu ou d'autres informations que vous avez téléchargées ou publiées sur le Service. <br> <br>
		<br><br>

			<div class="exit_wrap">
				<label class="exit" for="retourdecond"><a href="projet2.html">J'accepte</a></label>
			</div>
			<br><br><br><br>
		</div>
	</div>
	<%- include('../partials/footer') -%>
</body>
</html>